/* 处理作者项 */
function handleAuthor(item) {
  var ar = item.ar || item.artists;
  var arList = ar.map(function (item) {
    return item.name;
  });
  return arList.join('/');
}


/* 处理手机号码保密 */
function handlePhone(phone) {
  if (!phone) return;
  var phoneStr = phone.toString();
  var reg = getRegExp('(\d{3})\d{6}(\d{2})');
  return phoneStr.replace(reg, '$1******$2');
}

module.exports = {
  handleAuthor: handleAuthor,
  handlePhone: handlePhone,
};
